body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(241, 230, 237), hotpink);
    overflow-x: hidden;
}

#main {
    width: 100%;
    height: 100%;
}

/*Navigation Menu*/
#nav-bar ul {
    list-style: none;
    background-color: black;
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

#nav-bar li{
    margin-bottom: 5px;
}

a {
    font-size: 20px;
    color: hotpink;
}

a:hover {
    cursor: pointer;
    color:rgb(39, 199, 228);
}

/*Introduction*/
#introduction {
    font-size: 20px;
    text-align: center;
    color: rgb(39, 199, 228);
}

#introduction p {
    margin-top: -15px;
    margin-bottom: 30px;
    color: hotpink;
    font-weight: bold;
    font-size: 22px;
}

#profile-picture {
    width: 250px;
    height: 300px;
    border: 8px solid white;
    padding: 0px;
    border-radius: 10px;
}

#bio {
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: black;
}

#bio h2 {
    color: rgb(39, 199, 228);
    font-size: 30px;
}

#bio p {
    text-align: center;
    padding: 30px;
}

/*Projects*/
#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#projects h2 {
    text-align: center;
    color: rgb(39, 199, 228);
    font-size: 30px;
}

.project-image {
    width: 300px;
    height: 200px;
}

#project-tile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-title {
    color: white;
}

/*Footer*/
footer {
    background-color: black;
    color: white;
    cursor: pointer;
    height: 20vh;
    text-align: center;
    padding: 20px;
}

footer h2 {
    color:rgb(39, 199, 228);
}
footer a:hover {
    color:rgb(39, 199, 228);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    #nav-bar ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #nav-bar li {
        margin-bottom: 5px;
    }

    #nav-bar li:hover {
        color:rgb(39, 199, 228);
    }

    #project-tile {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer {
        height: 50vh;
        text-align: center;
        font-size: 25px;
    }

    footer a{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        text-align: center;
        align-items: center;
        font-size: 23px;
    }
}
